.container {
  padding-top: 80px;
  .right-col {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    .card {
      width: 100%;
    }
  }
  // .invoice-info-wrapper {

  // }

  // .vat-info-wrapper {

  // }
}

.clickable-row {
  cursor: pointer;
}

.active {
  td {
    background-color: #f0f0f0;
  }
}

.invoice-table {

  overflow-x: auto;
  .table-container {
    min-width: 463px;
    table {
      width: 100%;
    }
  }

}

@media screen and (max-width: 991px) {
  .right-col {
    display: none !important;
  }
}
